<div id="assessment-<%= assessment.id %>-result" class="assessment-result print-page">
  <div class="cover-page print-page">
    <%= assessment.cover_page.html_safe %>
  </div>
  <div class="assessment-score"><%= assessment.score(user) %></div>
  <div class="assessment-min-score"><%= assessment.min_score %></div>
  <div class="assessment-max-score"><%= assessment.max_score %></div>
  <div class="results-page print-page">
    <div class="assessment-title"><%= assessment.title %></div>
    <div class="sections">
      <% assessment.sections.each do |section| %>
        <div class="section">
          <div class="section-title"><%= section.title %></div>
          <div class="section-score"><%= section.score(user) %></div>
          <div class="section-min-score"><%= section.min_score %></div>
          <div class="section-max-score"><%= section.max_score %></div>
        </div>
      <% end %>
    </div>
    <div style="margin: 0 auto; width: 900px;">
      <canvas class="results-page-graph" height="<%= ((assessment.sections.length * 50) + 500 ).to_s %>px" width="900px"></canvas>
    </div>
  </div>
  <div class="assessment-executive-summary print-page">
    <h1>Executive Summary</h1>
      <% unless assessment.executive_summary.blank? %>
        <%= assessment.executive_summary.gsub(/\[Company Name\]/, user.company_name).gsub(/\[Company Nickname\]/, user.company_name).html_safe %>
      <% end %>
  </div>
  <div class="assessment-overall-result print-page">
    <h1>Overall Results</h1>
    <%= get_result(assessment, user) %>
  </div>
  <% assessment.sections.each do |section| %>
    <div id="section-<% section.id %>-result" class="section-result print-page">
      <div class="section-top">
      </div>
      <div class="section-score"><%= section.score(user) %></div>
      <div class="section-max-score"><%= section.max_score %></div>
      <h1><%= section.title %></h1>
      <%= get_result(section, user) %>
    </div>
  <% end %>
</div>