<div id="page-info" class="in">
  <h2><%= legend %></h2>
</div>
<div class="line"></div>
<div class="in">
  <%= form_for [:admin, @survey] do |f| %>
    <fieldset>
      <p>
        <%= f.label :title, "Title:" %><br />
        <%= f.text_field :title, :class => "small" %>
      </p>
      <p>
        <%= f.label :description, "Description:" %><br />
        <%= f.text_area :description, :class => "large" %>
      </p>
      <p style="float: left; width: 50%;">
        <%= f.label :display_order, "Display Order:" %><br />
        <%= f.text_field :display_order, :class => "small" %>
      </p>
      <p style="float: left; width: 50%;">
        <%= f.label :status, "Status:" %><br />
        <%= f.select :status, [['Published', 1], ['Draft', 0], ['Awaiting Review', 2]], {}, :class => "small" %>
      </p>
      <div style="clear: both;"></div>
      <%= f.fields_for :sections do |builder| %>
        <%= render "section_fields", :f => builder %>
      <% end %>
      <p>
        <%= f.submit "Submit" %>
      </p>
    </fieldset>
  <% end %>
</div>
