<%= form_tag edit_multiple_admin_surveys_path, :id => "surveys-index-form", :method => :get do %>
<table>
  <thead>
    <tr>
      <th scope="col"><input class="check-all" type="checkbox"></th>
      <th scope="col"><%= sortable "id", "ID" %></th>
      <th scope="col"><%= sortable "title" %></th>
      <th scope="col">Description</th>
      <th scope="col"><%= sortable "status" %></th>
      <th scope="col"><%= sortable "created_at" %></th>
      <th scope="col"><%= sortable "updated_at" %></th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% even_row = false %>
    <% @surveys.each do |survey| %>
      <tr class="<% if even_row %>even<% else %>odd<% end %><% even_row = !even_row %>">
        <td><%= check_box_tag "surveys_ids[]", survey.id %></td>
        <td><%= link_to survey.id, admin_survey_path(survey) %></td>
        <td><%= link_to survey.title, admin_survey_path(survey) %></td>
        <td><%= truncate(survey.description) %></td>
        <td>
          <%= case survey.status
            when 0
              "Draft"
            when 1
              "Published"
            when 2
              "Awaiting Review"
            else
              "Unknown"
            end
          %>
        </td>
        <td><%= survey.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= survey.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td>
          <%= link_to image_tag(image_path("icons/16x16/edit.png"), :title => "Edit", :alt => "Edit"), edit_admin_survey_path(survey) %>
          <%= link_to image_tag(image_path("icons/16x16/remove.png"), :title => "Delete", :alt => "Delete"), admin_survey_path(survey), :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= submit_tag "Edit Selected", :class => "button", :disabled => true, :id => "edit-selected-button" %>
<% end %>
<%= paginate @surveys %>
