<div class="answer">
  <div class="display-order">
    <%= image_tag image_path("icons/32x32/up.png"), :alt => "Move Up", :class => "increase-display-order", :title => "Move Down" %><%= image_tag image_path("icons/32x32/down.png"), :alt => "Move Down", :class => "decrease-display-order", :title => "Move Down" %>
    <%= f.hidden_field :display_order, :class => "display-order-field" %>
  </div>
  <div class="remove">
    <%= image_tag image_path("icons/32x32/remove.png") %>
    <%= f.hidden_field :_destroy, :alt => "Remove Answer", :class => "remove-field", :title => "Remove Answer" %>
  </div>
  <div style="overflow: hidden;">
    <div style="float: left;">
      <%= f.label :content, "Answer" %><br />
      <%= f.text_field :content, :class => "medium" %><br />
    </div>
    <div style="float: left; margin-left: 20px;">
      <%= f.label :weight, "Weight" %><br />
      <%= f.text_field :weight, :class=> "small", :style => "width: 25px;" %>
    </div>
  </div>
</div>