<div class="question">
  <div class="display-order">
    <%= image_tag image_path("icons/32x32/up.png"), :alt => "Move Up", :class => "increase-display-order", :title => "Move Up" %><%= image_tag image_path("icons/32x32/down.png"), :alt => "Move Down", :class => "decrease-display-order", :title => "Move Down" %>
    <%= f.hidden_field :display_order, :class => "display-order-field" %>
  </div>
  <div class="remove">
    <%= image_tag image_path("icons/32x32/remove.png") %>
    <%= f.hidden_field :_destroy, :alt => "Remove Question", :class => "remove-field", :title => "Remove Question" %>
  </div>
  <h4>Question</h4>
  <p>
    <%= f.label :content, "Question" %><br />
    <%= f.text_field :content, :class => "large" %>
  </p>
  <%= f.fields_for :answers do |builder| %>
    <%= render "answer_fields", :f => builder %>
  <% end %>
  <div style="margin-top: 10px;">
    <%= link_to_add_fields "Add Answer", f, :answers %>
  </div>
</div>