<div id="page-info" class="in">
  <h2>Showing Assessment: <%= @assessment.title %></h2>
</div>
<div class="line"></div>
<div id="page-actions" class="in">
  <%= link_to "Edit Assessment", edit_admin_assessment_path(@assessment) %><%= link_to "Delete Assessment", admin_assessments_path(@assessment), :method => :delete %>
</div>
<div class="in">
  <p><strong>Title:</strong> <%= @assessment.title %></p>
  <p><strong>Description:</strong></p>
  <pre><%= @assessment.description %></pre>
  <p><strong>Slug:</strong> <%= @assessment.slug %></p>
  <p><strong>Display Order:</strong> <%= @assessment.display_order %></p>
  <p><strong>Status:</strong>
  <%= case @assessment.status
      when 0
        "Draft"
      when 1
        "Published"
      when 2
        "Awaiting Review"
      else
        "Unknown"
      end
  %></p>
  <p><strong>Created at:</strong> <%= @assessment.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
  <p><strong>Last Updated at:</strong> <%= @assessment.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
  <h3>Sections</h3>
  <% @assessment.sections.each do |section| %>
    <p><strong><%= section.title %></strong></p>
    <p><strong>Description</strong></p>
    <pre><%= section.description %></pre>
    <ol>
      <% section.questions.each do |question| %>
        <li>
          <p><%= question.content %></p>
          <ol style="list-style-type: upper-alpha;">
            <% question.answers.each do |answer| %>
              <li><%= answer.content %></li>
            <% end %>
          </ol>
        </li>
      <% end %>
    </ol>
    <h4>Section Results</h4>
    <% section.results.each do |result| %>
      <p><strong>Top:</strong> <%= result.top %></p>
      <p><strong>Bottom:</strong> <%= result.bottom %></p>
      <pre><%= result.content %></pre>
    <% end %>
  <% end %>
  <h3>Assessment Results</h3>
  <% @assessment.results.each do |result| %>
    <p><strong>Top:</strong> <%= result.top %></p>
    <p><strong>Bottom:</strong> <%= result.bottom %></p>
    <pre><%= result.content %></pre>
  <% end %>
</div>
<div id="toggle-debug" class="in">
  <span class="toggle-debug-text">Show Debug Info</span><span class="toggle-debug-text" style="display: none;">Hide Debug Info</span>
</div>
<div id="debug-info" class="in">
  <%= debug @assessment %>
</div>