<div id="page-info" class="in">
  <h2>Edit Account Profile</h2>
</div>
<div class="line"></div>
<div class="in">
  <%= form_for [@user] do |f| %>
    <fieldset>
      <p>
        <%= f.label :email_address, "E-mail Address:" %><br />
        <%= f.text_field :email_address, :class => "small" %>
      </p>
      <p>
        <%= f.label :email_address_confirmation, "Repeat E-mail Address:" %><br />
        <%= f.text_field :email_address_confirmation, :class => "small" %>
      </p>
      <p>
        <%= f.label :password, "Password:" %><br />
        <%= f.password_field :password, :class => "small" %>
      </p>
      <p>
        <%= f.label :password_confirmation, "Repeat Password:" %><br />
        <%= f.password_field :password_confirmation, :class => "small" %>
      </p>
      <p>
        <%= f.label :first_name, "First Name:" %><br />
        <%= f.text_field :first_name, :class => "small" %>
      </p>
      <p>
        <%= f.label :last_name, "Last Name:" %><br />
        <%= f.text_field :last_name, :class => "small" %>
      </p>
      <p>
        <%= f.label :phone_number, "Phone Number:" %><br />
        <%= f.text_field :phone_number, :class => "small" %>
      </p>
      <p>
        <%= submit_tag "Submit" %>
      </p>
    </fieldset>
  <% end %>
</div>
